

		
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	            <div class="panel panel-default">
	                <div class="panel-heading">
	                    <span class="glyphicon glyphicon-lock"></span> Login</div>
	                <div class="panel-body">
					 	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
						  <div class="form-inputs">
						   <%= f.input :email, required: false, autofocus: true %>
						    <%= f.input :password, required: false %>
						    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
						  </div>

						  <div class="form-actions">
						    <%= f.button :submit, "Log in", class: 'btn-primary' %>
						  </div>
						<% end %>
					</div>
					<%= render "devise/shared/links" %>
				 </div>				
			</div>
		</div>	
		



